<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>
<p> EdX courses are open to everyone. All you need is access to a computer with a current browser, an Internet connection, and, of course, a desire to learn. To sign up, create an OverbrookX account and then register for the course of your choice. Choose Register Now to get started.</p>

<p> Q: What browsers are supported for use with OverbrookX courses?<br>
A: Our courserware works best with current versions of Chrome, Firefox, or Safari, or IE9 or above.</p>

<p> Q: What if I have technical trouble with registration, login, or access?<br>
A: Many problems are caused by browser issues. Some things to try are: 1) switch to the current version of Chrome or Firefox, 2) Check your browser settings to ensure Javascript and cookies are enabled, or 3) Clear your browser cache.</p>

<p> Q: Can I access OverbrookX courses on my smart phone or tablet?<br>
A: While OverbrookX does not fully support access with mobile devices, many components will work.</p>

<p> Q: When does my course start or finish?<br>
A: You can find the start and end date for each course on its course description page. If you are registered for the course, you will also see its start date on your dashboard. Course timing is generally flexible.</p>

<p> Q: How do I log in to take an OverbrookX course?<br>
A: Once you sign up for a course and activate your account, click on the Log In button on the home page and enter your email and password.</p>

<p> Q: Can I take more than one class at a time?><br>
A: You can take as many courses as you have time for that are available on OverbrookX.</p>

<p> Q: Can I create more than one account to take a class?<br>
A: As per the honor code, you agree to create only a single account for use with OverbrookX.</p>

<p> Q: A course that I am interested in has already started. Can I still enroll?<br>
A: You can enroll in any course up to the end date, but you will not be able to submit any assignments or quizzes that are past due.</p>

<p> Q: What if my username is taken?<br>
A: Please try a different username - try adding a random number to the end.</p>

<p> Q: What if I forget my password?<br>
A: Use the Forgot Password link under the Password field on the Login page. Click this link and enter your email address. We'll email you a link that you can use to reset your password.</p>


<p>Our goal is to provide you great self-service tools that ensure your success. Still need help after reading these? Please submit a question through our contact us page or, if you are a current student, post your question(s) in your course discussion forum.</p>

</section>
