<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">
<h1>${_("Honor Code")}</h1>
<p>
Overbrook School seeks to permeate the school day with the presence of Christ. It is reasonable,therefore, that our school expects and 
requires honorable conduct at all times. Cheating,plagiarism, lying, stealing, forgery of signatures on test/documents, and failure to 
respect school property or persons are serious breaches of the conduct code.
</p>
<p>
By enrolling in an OverbrookX coruse, I agree that I will:<br>
<br>
1. Complete all assignments and quizzes with my own work and only my own work.<br>
2. Maintain only one user account and not let anyone else use my username/password.<br>
3. Not engage in any activity that would dishonestly improve my results, or improve or hurt others.<br>
4. Not share or post answers to problems used to assess student performance.<br>
<br>
Unless otherwise indicated by the instructor, students are encouraged to:<br>
<br>
1. Collaborate with others on videos, presentations, homework and labs.<br>
2. Discuss with others about general concepts and materials in each course.<br>
3. Present ideas and written work to fellow OverbrookX learners for comment.<br>
</p> 
</section>
