<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>
<div class="paragraph"><span class="about">
Overbrook School is a Catholic, coeducational school for grades prekindergarten through eight where children grow and learn through prayer, 
study, community and service. This dynamic tradition of learning melds the time-honored with the innovative, shaping children's minds and hearts
through a program of academic rigor and wonder that emphasizes the pursuit of wisdom as a shared journey of discovery. The Dominican Sisters of 
St. Cecilia Congregation are the guiding force behind the school. They live their religious life by these same four pillars of prayer, study, 
community and service. Overbrook's lay teachers together with the sisters expand students' understanding of the beauty of God's world and 
everything in it so that they will come to love themselves, love others and serve others with compassionate hearts.
<br>
<br>
Open EdX is the open-source online-learning platform created by Harvard University and MIT. OverbrookX is an instance of Open EdX for use with Overbrook School's MathCounts program. 
</span></div>
</section>
