<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">
<h1>${_("Privacy Policy")}</h1>
<p>${_("You understand that any personal information you submit to this Website will be treated in the manner described in the Agreement. You further understand and agree that your participation in the Website may be used for research purposes. Your information will be used only as permitted by applicable law for noncommercial research and educational purposes. Overbrook reserves the right to share aggegated information that does not personally identify you.")}</p>
</section>
